<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h3 class="card-header">
          Manage Tasks
        </h3>
        <div class="card-body">
          <app-tasks-table></app-tasks-table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h3 class="card-header">
          Add/Edit Tasks
        </h3>
        <div class="card-body">
          <app-tasks-add></app-tasks-add>
        </div>
      </div>
    </div>
  </div>
</div>
