<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h3 class="card-header">
          Manage Roles
        </h3>
        <div class="card-body">
          <app-roles-table></app-roles-table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h3 class="card-header">
          Add/Edit Roles
        </h3>
        <div class="card-body">
          <app-roles-add></app-roles-add>
        </div>
      </div>
    </div>
  </div>
</div>
