<button
  type="button"
  class="btn btn-info btn-lg"
  style="display: none"
  (click)="open(timeModal)"
></button>

<!-- Modal -->
<ng-template #timeModal let-modal class="modal fade">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-white bg-dark">
        <h1 class="modal-title" id="exampleModalLabel">Add/Edit Time Worked</h1>

        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true" class="btn btn-danger">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="TaskId">Task</label>
          <ngx-select-dropdown
            id="TaskId"
            name="TaskId"
            (change)="onTaskSelectionChanged($event)"
            [multiple]="false"
            [(ngModel)]="selectedTask"
            [config]="configTaskDropdown"
            [options]="tasks"
            required
          ></ngx-select-dropdown>
          <span *ngIf="selectedTask===undefined" class="text-danger"
                    >Please select a task</span
                  >
        </div>
        <div class="form-group">
          <label for="Rate">Rate</label>
          <input
            type="number"
            class="form-control"
            id="Rate"
            name="Rate"
            [(ngModel)]="selectedCapturedTime.Rate"
            required
          />
        </div>
        <div class="form-group">
          <label for="Duration">Duration</label>
          <input
            type="number"
            class="form-control"
            id="Duration"
            name="Duration"
            [(ngModel)]="selectedCapturedTime.Duration"
            required
          />
        </div>
        <div class="form-group">
          <label for="startTime">Start Time</label>
          <dl-date-time-picker
          (mwlClick)="click($event)"
          (change)="OnStartTimeChange($event)"
          (navChange)="nav($event)"
          (viewDateChange)="OnViewDateChanged($event)"
            name="startTime"
            maxView="minute"
            minView="minute"
            startView="minute"
            minuteStep="30"
            [(ngModel)]="startTime"
          >
          </dl-date-time-picker>
        </div>
        <div class="form-group">
          <label for="endTime">End Time</label>
          <dl-date-time-picker
          (change)="OnEndTimeChange($event)"
          name="endTime"
            maxView="minute"
            minView="minute"
            startView="minute"
            minuteStep="30"
            [(ngModel)]="endTime"
          >
          </dl-date-time-picker>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Copy</button>
        <button type="submit" (click)="OnDelete('delete')" class="btn btn-primary">Delete</button>
        <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Add</button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="modal.close('close click')"
        >
          Close
        </button>
      </div>
    </div>
  </form>
</ng-template>
